{% extends 'displayer/base.html' %}
<!DOCTYPE html>

<html>
    <head>
        {% block title %}
            Main Page
        {% endblock %}
    </head>
    <body>
        {% block page_title %}
        Main Data Display
        {% endblock %}

        {% block subtitle %}
        Enter the topic or user data to view
        {% endblock %}

        {% block content %}
<!-- 
        <div class="form-div">
            <form method="POST">
                {% csrf_token %}
                {{user_form.as_p}}
                <input type="Submit" value="Submit" name="userformbtn">
            </form>
        </div>
        <div class="userchart">
            {{userchart|safe}}
        </div>
        <div class="form-div">
            <form method="POST">
                {% csrf_token %}
                <p>Enter the keywords to search for and a time in minutes to watch for them</p>
                {{tweet_keyword_form.as_p}}
                <input type="Submit" value="Submit" name="tweetkeywordbtn">
            </form>
        </div> -->


        <div>
            <p>Some random page content</p>
        </div>
        
        {% endblock %}
        <script src="" async defer></script>
    </body>
</html>