{% extends 'displayer/base.html' %}
<!DOCTYPE html>

<html>
    <head>
        {% block title %}
            Main Page
        {% endblock %}
    </head>
    <body>
        {% block page_title %}
        News Data
        {% endblock %}

        {% block subtitle %}
        View data from the news and search for new topics
        {% endblock %}

        {% block content %}

        <div class="form-div">
            <form method="POST">
                {% csrf_token %}
                <p>Enter a subject to search news sites for</p>
                {{news_scraper_form.as_p}}
                <input type="Submit" value="Submit" name="newsscraperbtn">
            </form>
        </div>

        <div class="userchart">
            {{newschart|safe}}
        </div>

        {% endblock %}
        <script src="" async defer></script>
    </body>
</html>